@model List<Araba>
@{
    ViewData["Title"] = "Home Page";
}
<div class="d-flex align-items-center">
    <h1 class="mr-auto">Arabalar</h1>
    <a asp-controller="Arabalar" asp-action="Yeni" class="btn btn-primary">
        <i class="fas fa-plus"></i>
    </a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Model</th>
            <th>Yıl</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Model</td>
            <td>@item.Yil</td>
            <td><a asp-controller="Arabalar" asp-action="Sil" asp-route-id="@item.Id" class="btn btn-danger"> <i class="fas fa-trash"></i> </a> </td>
            
        </tr>
        }

    </tbody>
</table>