@model Araba

@{
    ViewData["Title"] = "Düzenle";
}

<h1>Araba Düzenle</h1>

<div asp-validation-summary="All" class="alert alert-danger"></div>


<form method="post" asp-controller="Arabalar" asp-action="Duzenle">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Model"></label>
        <input asp-for="Model" type="text" class="form-control" />
        <span asp-validation-for="Model" class="form-text text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Yil"></label>
        <input asp-for="Yil" type="text" class="form-control" />
        <span asp-validation-for="Yil" class="form-text text-danger"></span>
    </div>
    <button class="btn btn-primary">Kaydet</button>
</form>